[submodule "submodules/freeglut"]
	path = submodules/freeglut
	url = https://github.com/FreeGLUTProject/freeglut.git
[submodule "submodules/imgui"]
	path = submodules/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "submodules/glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm.git
[submodule "submodules/cyCodeBase"]
	path = submodules/cyCodeBase
	url = https://github.com/cemyuksel/cyCodeBase.git
